html {
    background-color: rgb(255, 196, 196);
    background-image: url(https://i.pinimg.com/originals/f7/b7/11/f7b7117d3facfb6a5754e68797961b6b.jpg);
    background-size: 30%;
}   
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
}

.container, button, .row {
    display: flex;
    flex-grow: 1;
}
.calculator, .buttons, body {
    flex-direction: column;
}
.calculator {
    padding: 55px;
    /*background-color: rgba(255, 240, 240, 50%);*/
    background: linear-gradient(to bottom right, rgba(255, 217, 206, 0.171), rgba(228, 93, 122, 0.5));
    min-width: 20vw;
    flex-basis: 20vh;
    max-height: 50vh;
    border: solid 6px rgba(255, 255, 255, 70%);
    border-left: solid 6px rgba(200, 100, 120, 50%);
    border-top: solid 6px rgba(200, 100, 120, 50%);
    border-radius: 15px;
}
.display {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgb(250, 229, 227);
    padding: 1rem;
    font-size: 200%;
}

/* Make buttons flexible */
button{
    flex:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clear{
    max-width: 50%;
}
.separator {
    max-height: 10%;
}